/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */


/* ---- layout ---- */


.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}

/*************** NAVBAR ****************/

nav {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  height: 6vh;
  position: fixed;
  top: 0;
  width: 100vw;
}

.logo-container {
  padding-left: 20px;
}

.links-container {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.links-container a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

/*************** LANDING SECTION ****************/

.landing-section {
  /* background: url('./assets/lily.jpg') center / cover no-repeat; */
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
}

.landing-section h3 {
  margin-top: 0;
  padding-top: 90px;
}

.landing-section form {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-items: center;
}

.landing-section input {
  margin-bottom: 8px;
}

.landing-section button {
  width: 50%;
  height: 30px;
  border-radius: 10px;

}

/*************** MISSION ****************/

.mission {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************** PARTY SECTION ****************/

.party-section {
  height: 100vh;
  background-color: skyblue;
  /* display: flex; */
}

.party-container {
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.party-container img {
  width: 90vw;
}

.influencer-container {
  display: flex;
  
  justify-content: space-between;
  margin-top: 40px;
}

.influencer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.influencer img {
  width: 48%;
}




/*************** PRODUCT SECTION ****************/